{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-md-4 offset-md-4 bg-dark px-3 py-5 text-light rounded">
			<form class="d-grid" method="post">
				<h2 class="mb-5">Register</h2>
				{{ form.hidden_tag() }}
				<div class="mb-2">
					{{ form.email.label }}
					{{ form.email(class='form-control', placeholder='Enter your email') }}
				</div>
				<div class="mb-2">
					{{ form.first_name.label }}
					{{ form.first_name(class='form-control', placeholder='Enter your first name') }}
				</div>
				<div class="mb-2">
					{{ form.last_name.label }}
					{{ form.last_name(class='form-control', placeholder='Enter your last name') }}
				</div>
				<div class="mb-2">
					{{ form.password.label }}
					{{ form.password(class='form-control', placeholder='Create a new password') }}
				</div>
				<div class="mb-5">
					{{ form.confirm_password.label }}
					{{ form.confirm_password(class='form-control', placeholder='Re-enter a password') }}
				</div>
				{{ form.submit(class='btn btn-primary') }}
			</form>
		</div>
	</div>
{% endblock %}